<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.packt.upbeat">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="vnd.google.fitness.VIEW" />

                <data android:mimeType="vnd.google.fitness.data_type/com.google.step_count.cumulative" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".services.WaterReminderReceiver"
            android:process=":remote" />

        <service android:name=".services.WearStepService" />

        <receiver android:name=".services.AlarmNotification">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.MobileListener">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/heart"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".HealthTipsActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light" />

        <activity
            android:name=".CaloryChartActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light" />
    </application>

</manifest>